:root {
    --offcanvas-width: 220px;
    --topNavbarHeight: 2rem;
    --topNavbarGap: 13.82rem;
}

.sidebar-nav {
    width: var(--offcanvas-width);
}

.help-link {
    display: flex;
    align-items: center;
    .arrow-right {
        display: inline-flex;
    }
}

// main {
//     margin-left: var(--offcanvas-width);
// }
.help-link[aria-expanded="true"] .arrow-right {
    transform: rotate(180deg);
}

@media (min-width:992px) {
    body {
        overflow: auto !important;
    }
    .offcanvas-backdrop::before {
        display: none;
    }
    .sidebar-nav {
        transform: none;
        visibility: visible !important;
        height: 100%;
    }
    .navbarMY {
        left: var(--topNavbarGap);
        width: calc(100% - var(--topNavbarGap) - var(--navbarsLeft));
    }
    main {
        margin-left: var(--offcanvas-width);
    }
}

.logo {
    width: 200px;
    height: auto;
}

td {
    font-size: small;
}

th {
    font-size: smaller;
}

.card {
    height: 100%;
}